{form editForm}
<table>
<tr class="required">
    <th>{label nazev /}</th>
    <td>{input nazev}</td>
</tr>
<tr class="required">
    <th>{label ucinna_latka /}</th>
    <td>{input ucinna_latka}</td>
</tr>
<tr>
    <th>{label predpis /}</th>
    <td>{input predpis}</td>
</tr>
<tr>
    <th>&nbsp;</th>
    <td>{input odeslat}</td>
</tr>
</table>
{/form}