{block #content}

{form createForm}
<table class="edit_tab">
<tr class="required">
    <th>{label datum /}</th>
    <td>{input datum}</td>
</tr>
<tr class="required">
    <th>{label pobocka /}</th>
    <td>{input pobocka}</td>
</tr>
<tr>
    <th>{label lek /}</th>
    <td>{input lek}</td>
</tr>
<tr>
    <th>&nbsp;</th>
    <td>{input odeslat}</td>
</tr>
</table>
{/form}