{block #content}
<body>
   
  <h1>Pobočky</h1>

  <div class="mytable" >
    <table align=center>
        <tr>
            <th>Ulice</th>
            <th>Cislo popisne</th>
            <th>PSC</th>
            <th>Mesto</th>
        </tr >
            {foreach $adresy as $Adresa}
            <tr align=center>
                    <td>{$Adresa->ulice}</td>
                    <td>{$Adresa->cislo_popisne}</td>
                    <td>{$Adresa->psc}</td>
                    <td>{$Adresa->mesto}</td>
                </tr> 
            {/foreach}
    </table>
  </div>    
</body>