<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/style.css">

{var $robots = noindex}
    
{block #content}

<body>
  <div class="edit_tab">

    {control signInForm}
    
    {* or use {include '../components/form.latte', form => $presenter[signInForm]} *}
  </div>
</body>