{block #content}

{form createForm}
<table class="edit_tab">
<tr class="required">
    <th>{label lek /}</th>
    <td>{input lek}</td>
</tr>
<tr class="required">
    <th>{label pojistovna /}</th>
    <td>{input pojistovna}</td>
</tr>
<tr class="required">
    <th>{label vyse_prispevku /}</th>
    <td>{input vyse_prispevku}</td>
</tr>
<tr>
    <th>{label platnost_od /}</th>
    <td>{input platnost_od}</td>
    <td class="edit">Formát napr. 1.1.2014</td>
</tr>
<tr>
    <th>{label platnost_do /}</th>
    <td>{input platnost_do}</td>
    <td class="edit" >Formát napr. 31.12.2014</td>
</tr>
<tr>
    <th>&nbsp;</th>
    <td>{input odeslat}</td>
</tr>
</table>
{/form}