{block #content}

<body>

<h1>Příspěvky</h1>


<table align=center>
    <tr>
        <th>Lék</th>
        <th>Pojišťovna</th>
        <th>Výše příspěvku</th>
        <th>Platnost OD</th>
        <th>Platnost D0</th>
    </tr>
        {foreach $prispevky as $Prispevek}
            <tr align=center>
                <td>{$Prispevek->Lek->nazev}</td>
                <td>{$Prispevek->Pojistovna->nazev}</td>
                <td>{$Prispevek->vyse_prispevku} Kč</td>
                <td>{$Prispevek->platnost_od|date:'%d.%m.%Y'}</td>
                <td>{$Prispevek->platnost_do|date:'%d.%m.%Y'}</td>
                {if ($user->isInRole("admin")) || ($user->isInRole("lekarnik"))}
                  <td class="edit"><a class="button" n:href="Prispevek:edit $Prispevek->id">Upravit</a> 
                      <a class="button" n:href="Prispevek:delete $Prispevek->id" onClick="return confirm('Opravdu smazat prispevek ?')" >Smazat</a>
                  </td>
                {/if}
            </tr> 
        {/foreach}
</table>

</br>

{if ($user->isInRole("admin")) || ($user->isInRole("lekarnik"))}
  <div align=center>
  <a class="button" n:href="Prispevek:create">Vložit nový</a>
  </div>
{/if}

</body>