{foreach $flashes as $flash}
<div class="flash {$flash->type}">{$flash->message}</div>
{/foreach}

<h1>Prispevky</h1>

<a n:href="Prispevek:create">Vložit nový</a>

<table>
    <tr>
        <th>Lék</th>
        <th>Pojišťovna</th>
        <th>Výše příspěvku</th>
        <th>Platnost OD</th>
        <th>Platnost D0</th>
    </tr>
        {foreach $prispevky as $Prispevek}
            <tr>
                <td>{$Prispevek->Lek->nazev}</td>
                <td>{$Prispevek->Pojistovna->nazev}</td>
                <td>{$Prispevek->vyse_prispevku} Kč</td>
                <td>{$Prispevek->platnost_od|date:'%d.%m.%Y'}</td>
                <td>{$Prispevek->platnost_do|date:'%d.%m.%Y'}</td>
                <td><a n:href="Prispevek:edit $Prispevek->id">Upravit</a></td>
                <td><a n:href="Prispevek:delete $Prispevek->id" onClick="return confirm('Opravdu smazat prispevek ?')" >Smazat</a></td>
            </tr> 
        {/foreach}
</table>