{**
 * My Application layout template.
 *
 * @param string   $basePath web base path
 * @param string   $robots   tell robots how to index the content of a page (optional)
 * @param array    $flashes  flash messages
 *}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title>{isset($nadpis) ? $nadpis : "Lékárna"}</title>

	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css">
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/style.css">
	<link rel="stylesheet" media="print" href="{$basePath}/css/print.css">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	{block head}{/block}
</head>

<body>
        <div id="banner">
                <h1 n:block=title>{isset($nadpis) ? $nadpis : "Lékárna"}</h1>
                <div id="user">
                    {if $user->isLoggedIn()}
                    <a n:href="Sign:out">Odhlásit {$user->id}</a><small> {implode(", ", $user->roles)} </small></div>
                    {else}
                    <a n:href="Sign:in">Přihlásit se</a></div>
                    {/if}
                </div>

        <div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>

        <div id="content">
                <p><a n:href="Lek:default">Seznam leku, ktere nase lekarna nabizi</a></p>
                <p><a n:href="Pobocka:default">Seznam nasich pobocek</a></p>
                <p><a n:href="Prispevek:default">Importovat prispevky</a></p>

                {include #content}

                <footer>Created by xfabci00 and xnetko00 in 2013.</footer>
        </div>

	{block scripts}
	<script src="{$basePath}/js/jquery.js"></script>
	<script src="{$basePath}/js/netteForms.js"></script>
	<script src="{$basePath}/js/main.js"></script>
	{/block}
</body>
</html>
