{**
 * My Application layout template.
 *
 * @param string   $basePath web base path
 * @param string   $robots   tell robots how to index the content of a page (optional)
 * @param array    $flashes  flash messages
 *}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="robots" content="{$robots}" n:ifset="$robots">

  
	

  <title>{isset($nadpis) ? $nadpis : "Lékárna"}</title>

	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css">
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/style.css">
	<link rel="stylesheet" media="print" href="{$basePath}/css/print.css">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">   
	{block head}{/block}
</head>

<body>   
        <div id="banner">
                <h1 n:block=title>{isset($nadpis) ? $nadpis : "Lékárna"}</h1>
                
                <div id="user" align=right>
                
                    {if $user->isLoggedIn()}
                    <a class="signbutton" n:href="Sign:out">Odhlásit {$user->id}</a></span>
                    {else}
                    <a class="signbutton" n:href="Sign:in">Přihlásit se</a></span>
                    {/if} 
                </div>   
        </div>

         <div id="content">
            
            <div id="menu">
                <ul class="menu-list">
                  <li> <a href="index.php">Lékárna</a></li>
                  <li> <a n:href="Lek:default">Seznam prodávaných léků</a></li> 
                  <li> <a n:href="Pobocka:default">Adresy poboček</a></li>       
                  <li> <a n:href="Prispevek:default">Příspěvky</a></li>  
                  
                  {if ($user->isInRole("admin")) || ($user->isInRole("lekarnik"))}
                    <li> <a n:href="Export:default">Výpis pro pojišťovnu</a></li> 
                  {/if} 
                  
                  {if ($user->isInRole("lekarnik"))}
                    <li> <a n:href="Nakup:default">Nákupy</a></li>
                  {/if}
                </ul>           
            </div>
            
            <div id="obsah">
<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>
                {include #content}
                
            </div>

            <div id="footer">
                <footer>Created by xfabci00 and xnetko00 in 2013.</footer>
            </div>
        </div>

	{block scripts}
	<script src="{$basePath}/js/jquery.js"></script>
	<script src="{$basePath}/js/netteForms.js"></script>
	<script src="{$basePath}/js/main.js"></script>
	{/block}
</body>
</html>
